nav {
    height: 30px;
    background-color: var(--footer);
}

.nav-link{
    text-transform: uppercase;
    color: var(--text);
    margin-bottom: 20px;
}
.nav-link:hover{
    text-transform: uppercase;
    color: var(--on-text);
}

.nav-item {
  padding-left: 30px;
}
