<div class="card post-card">
  <div class="card-body profile p-0">

    <div class="pt-3 px-3">
      <div class="row">
        <div class="col-md-8">
          <div class="d-flex align-items-center mb-3">
            <app-profile-image [userId]="postCard!.userID!"></app-profile-image>
            <div class="flex-fill ps-2">
              <div class="fw-bold"><a href="#" class="text-decoration-none post-author">{{ postCard?.username }}</a>
              </div>
              <div class="small text-body text-opacity-50">{{ postCard?.createdAt }}</div>
            </div>
          </div>
        </div>

        <div *ngIf="isCurrentUserAuthor()" class="col-md-4 text-end">
          <a class="edit" [routerLink]="['/edit-post']" [queryParams]="{ id: postCard?.id }">
            <mat-icon>edit</mat-icon> Edit
          </a>
        </div>
      </div>

      <h4>
        <a class="post-title" [routerLink]="['/post']" [queryParams]="{ id: postCard?.id }">{{
          postCard?.title
          }}</a>
      </h4>
      <div [innerHTML]="postCard?.about"></div>
      <div class="py-3" *ngIf="showFullContent" [innerHTML]="postCard?.content"></div>
      <div class="profile-img-list">
        <ng-container *ngFor="let image of images$ | async | slice:0:displayedImagesCount; let isFirst = first">
          <ng-container *ngIf="isFirst; else photoList">
            <div class="profile-img-list-item main">
              <a [href]="image" target="_blank" data-lity="" class="profile-img-list-link">
                <span class="profile-img-content"
                      [ngStyle]="{'background-image': 'url(' + image + ')'}"></span>
              </a>
            </div>
          </ng-container>
          <ng-template #photoList>
            <div class="profile-img-list-item">
              <a [href]="image" target="_blank" data-lity="" class="profile-img-list-link">
                <span class="profile-img-content"
                      [ngStyle]="{'background-image': 'url(' + image + ')'}"></span>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </div>
      <hr class="mb-1 opacity-1"/>
    </div>

    <div class="row text-center fw-bold">
      <div class="col">
        <a class="text-body text-opacity-50 text-decoration-none d-block p-2">
          <mat-icon class="mx-2" style="cursor: pointer" (click)="likePost()">thumb_up</mat-icon>
          <mat-icon class="mx-2" style="cursor: pointer" (click)="unlikePost()">thumb_down</mat-icon>
          {{ postCard?.likes }} Likes
        </a>
      </div>
      <div class="col">
        <a *ngIf="joinDiscussionButton" [routerLink]="['/post']" [queryParams]="{ id: postCard?.id }"
           class="text-discussion text-opacity-50 text-decoration-none d-block p-2">Join Discussion</a>
      </div>
      <div class="col">
        <a (click)="deletePost()" style="cursor: pointer" class="text-body text-opacity-50 text-decoration-none d-block p-2"> Delete </a>
      </div>
    </div>
  </div>
</div>

