<div class="container">
  <div class="row">
    <div class="col-lg-11 text-center mt-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h3>Forum</h3>
          <p>Remember to behave and be polite to others!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 text-center mt-3 mb-3">
      <div class="card">
        <div class="card-body">
          <a
            href="http://localhost:4200/create-post"
            class="btn btn-info btn-block btn-theme"
            >Add new post</a
          >
        </div>
      </div>
    </div>
  </div>

  <app-post-card></app-post-card>

</div>
