<div class="app-content">
  <div class="container py-3">

    <div class="card rounded-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="trip-title my-3">
              <h1 class="">{{ tripData?.tripName }}</h1>
              <h3 class="gathering">{{ tripData?.gatheringPlace }}</h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-end">
              <a *ngIf="isCurrentUserGuide()" (click)="archiveTrip()" class="archive">Archive trip</a>
            </div>
          </div>
        </div>

        <div class="row p-3">
          <h4>Trip date: {{tripData?.date}}</h4>
          <div class="col-md-6 right-separator">
            <div class="pr-10p">
              <div class="my-3">
                <h3>Description</h3>
                <div class="overflow-auto description">{{ tripData?.description }}</div>
              </div>

              <div class="my-3">
                <h3>Reviews</h3>
                <app-rating-card [rating]="tripData?.rate" [numberOfRates]="tripData?.numberOfRates"></app-rating-card>

                <div *ngIf="isCurrentUserMember()" class="py-3">
                  <igc-rating label="Your opinion" max="5" step=".5" size="large" hover-preview
                              (igcChange)="giveRating($event)"></igc-rating>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="pl-10p">
              <h3>Guide</h3>
              <div class="participants overflow-auto my-3">
                <div *ngFor="let user of tripData?.tripGuides" class="d-flex align-items-center mb-3">
                  <app-profile-image [userId]="user.id"></app-profile-image>
                  <div class="flex-fill ps-2">
                    <div class="fw-bold"><a
                      class="text-decoration-none participant-name">{{ user.username }}
                      ({{ user.name }} {{ user.surname }})</a></div>
                  </div>
                </div>
              </div>

              <h3>Participants</h3>
              <div class="participants overflow-auto my-3">
                <div *ngFor="let user of tripData?.participants" class="d-flex align-items-center mb-3">
                  <app-profile-image [userId]="user.id"></app-profile-image>
                  <div class="flex-fill ps-2">
                    <div class="fw-bold"><a
                      class="text-decoration-none participant-name">{{ user.username }}
                      ({{ user.name }} {{ user.surname }})</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="my-3">

          <div class="py-3" *ngIf="isCurrentUserGuide">
            <h3 class="py-3">Add document</h3>
            <app-add-document [tripId]="tripId" (onChange)="refreshTrip()"></app-add-document>
          </div>

          <h3 class="py-3">Available documents</h3>
          <div class="row">
            <div *ngFor="let document of documents$ | async" class="col-lg-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <p>{{ document.document.fileName }}</p>
                  <a [href]="document.url" target="_blank" class="green-link">Open document</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a *ngIf="!isCurrentUserMember() && !isCurrentUserGuide()" (click)="enrollToTrip()"
           class="btn btn-primary-travel">+ Enroll to trip</a>
        <a *ngIf="isCurrentUserMember()" (click)="LeaveTrip()" class="btn btn-primary-travel">- Leave the trip</a>
      </div>
    </div>

    <div class="my-3">
      <app-create-post *ngIf="isCurrentUserMember() || isCurrentUserGuide()" [tripId]="tripId"
                       (refreshPosts)="refreshDiscussion()"></app-create-post>
    </div>

    <div *ngIf="isCurrentUserMember() || isCurrentUserGuide()" class="row">
      <div *ngFor="let postCard of discussion" class="col-lg-12 py-3">
        <app-post-card [postCard]="postCard" [postId]="postCard.id">
        </app-post-card>
      </div>
    </div>
  </div>
</div>
