<div class="container pb-3">
  <h1 class="text-center py-3">App navigation</h1>
  <div class="row profile-menu pb-3">
    <div class="col-md-6 text-start">
      <a class="my-3 text-center profile-menu-item" href="http://localhost:4200/">
        <mat-icon>home</mat-icon>
        <h3 class="py-3">Home</h3>
      </a>
    </div>
    <div class="col-md-6 text-end">
      <a class="my-3 text-center profile-menu-item" href="http://localhost:4200/forum">
        <mat-icon> message</mat-icon>
        <h3 class="py-3">Forum</h3>
      </a>
    </div>
    <div class="col-md-6 text-end">
      <a class="text-center profile-menu-item" href="http://localhost:4200/trips">
        <mat-icon> person_pin_circle</mat-icon>
        <h3 class="py-3">Trips</h3>
      </a>
    </div>
    <div class="col-md-6 text-start">
      <a class="text-center profile-menu-item" href="http://localhost:4200/business-offer">
        <mat-icon> local_offer</mat-icon>
        <h3 class="py-3">Business Offers</h3>
      </a>
    </div>
  </div>
</div>
