<div class="container mt-4 mb-4">
  <div class="row">

      <div class="card">
        <div  class="card-body">
          <small class="bg-light text-center">Last Updated:</small>
          <h1 class="mt-3 mb-3">{{ singlePostCard.title }}</h1>
          <p>{{ singlePostCard.content }}</p>
          <small class="bg-light text-center">{{ singlePostCard.likes }}</small>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
  </div>

