
 <div class="row">
<div *ngFor="let tripCard of tripCards" class="card col-lg-4 mb-3 text-center">
  <div  class="card-body">
    <h2 class="text-center ml-3">{{tripCard.trip_name}}</h2>
    <small class="text-center ml-3">{{tripCard.date}}</small>
    <small class="text-center ml-3">{{tripCard.gathering_place}}</small>
    <small class="text-center ml-3">{{tripCard.rate}}</small>


    <h5 class="mt-1"><a href="http://localhost:4200/post">LDJJDLJDDJLJD</a></h5>
    <p>djdhggjshdjshd</p>
    <small class="text-center ml-3">Last UPDATED - At you funeral</small>
  </div>
</div>
</div>


