<div class="container mt-3 mb-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-5 shadow-effect">
        <div class="card-body">
          <div class="text-center">
            <h3>Details of your account</h3>
          </div>
          <div class="mt-3 text-center">
            <p>Username: {{ singleAccountCard.username }}</p>
            <p>Name: {{ singleAccountCard.name }}</p>
            <p>Surname: {{ singleAccountCard.surname }}</p>
            <p>Email: {{ singleAccountCard.email }}</p>
            <p>Phone Number: {{ singleAccountCard.phoneNumber }}</p>
          </div>
           <div class="mt-3 text-center">
            <button
              class="btn btn-info btn-block btn-theme"
              (click)="deleteUser(singleAccountCard.id)"
            >
              Delete Account
            </button>
          </div>
          <div class="text-center">
            <h3>Your Account</h3>
          </div>
          <div class="text-center">
            <a href="http://localhost:4200/moderator" *ngIf="hasAccess"
              >Moderator Settings</a
            >
          </div>
          <div class="mt-3 text-center">
            <button
              class="btn btn-info btn-block btn-theme"
              (click)="onLogoutClick()"
            >
              Log Out
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
