.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 200px;
}

.delete-acc {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

.delete-acc:hover {
  text-decoration: underline;
}

.logout, .edit {
  cursor: pointer;
  color: var(--primary-color);
}

.logout:hover, .edit:hover {
  color: var(--lively-accent);
}

.edit {
  margin-left: 10px;
  text-decoration: none;
}
