<div class="footer">
  <div class="row upper-footer p-4">
    <div class="col-lg-4">
      <mat-icon class="footer-icon m-4">description</mat-icon>
      <br>
      <a class="footer-link" href="http://localhost:4200/aboutUs">About Us</a>
      <p class="footer-desc p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna risus, fermentum sit
        amet lobortis non, ultrices sit amet lectus. Vivamus ut tortor quis est suscipit mollis at eget metus. In sed
        justo quis augue aliquam condimentum ut ut risus.</p>
    </div>
    <div class="col-lg-4">
      <mat-icon class="footer-icon m-4">perm_phone_msg</mat-icon>
      <br>
      <a class="footer-link" href="http://localhost:4200/contact">Contact Us</a>
      <p class="footer-desc p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna risus, fermentum sit
        amet lobortis non, ultrices sit amet lectus. Vivamus ut tortor quis est suscipit mollis at eget metus. In sed
        justo quis augue aliquam condimentum ut ut risus.</p>
    </div>
    <div class="col-lg-4">
      <mat-icon class="footer-icon m-4"> list_alt</mat-icon>
      <br>
      <a class="footer-link" href="http://localhost:4200/terms-conditions">Terms & Conditions</a>
      <p class="footer-desc p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna risus, fermentum sit
        amet lobortis non, ultrices sit amet lectus. Vivamus ut tortor quis est suscipit mollis at eget metus. In sed
        justo quis augue aliquam condimentum ut ut risus.</p>
    </div>
  </div>
  <div class="row copyright pt-3">
    <div class="col-lg-12">
      <p>&copy; 2023 Travel Portal</p>
    </div>
  </div>
</div>
