.footer {
  color: #fff;
  text-align: center;
}

.upper-footer {
  background-color: var(--secondary-color);
}

.copyright {
  background-color: var(--primary-color);
}

.footer-link {
  margin: 0 10px;
  text-decoration: none;
  color: var(--text);
}
