<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a href="http://localhost:4200/aboutUs" class="nav-link"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a href="http://localhost:4200/contact" class="nav-link"
                >Contact Us</a
              >
            </li>
            <li class="nav-item">
              <a href="http://localhost:4200/terms-conditions" class="nav-link"
                >Terms & Conditions</a
              >
            </li>
          </ul>
        </div>
        <p class="mb-2 mt-2">Copyright © 2023 TravelGo</p>
      </div>
    </div>
  </div>
</footer>
