.footer {
  color: #fff;
  text-align: center;
}

.upper-footer {
  background-color: var(--secondary-color);
}

.copyright {
  background-color: var(--primary-color);
}

.footer-link {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}

.footer-desc {
  color: var(--primary-color);
  max-width: 400px;
  margin: auto;
}

.footer-icon {
  color: var(--primary-color);
  transform: scale(2);
}
