<div class="footer">
    <div class="row upper-footer p-4">
      <div class="col-lg-4">
        <mat-icon>description</mat-icon><br>
        <a class="footer-link" href="http://localhost:4200/aboutUs">About Us</a>
      </div>
      <div class="col-lg-4">
        <mat-icon>perm_phone_msg</mat-icon><br>
        <a class="footer-link" href="http://localhost:4200/contact">Contact Us</a>
      </div>
      <div class="col-lg-4">
        <mat-icon> list_alt</mat-icon><br>
        <a class="footer-link" href="http://localhost:4200/terms-conditions">Terms & Conditions</a>
      </div>
    </div>
    <div class="row copyright pt-3">
      <div class="col-lg-12">
        <p>&copy; 2023 Travel Portal</p>
      </div>
    </div>
</div>
