footer{
    height: 100px;
    padding: 5px;
    background-color: var(--footer);
    
}

.nav-link{
    color: var(--text);
}
.nav-link:hover{
    color: var(--on-text);
}
p{
    color: var(--background);
}