
 <div class="row">
<div *ngFor="let postCard of postCards" class="card col-lg-4 mb-3">
  <div  class="card-body">
    <h2 class="text-center ml-3"><a [routerLink]="['/post']" [queryParams]="{ id: postCard.id }">{{postCard.title}}</a></h2>
    <p class="text-center ml-3">{{postCard.about}}</p>
    <p class="text-center ml-3">{{postCard.username}}</p>
    <p class="text-center ml-3">{{postCard.likes}}</p>
    <p class="text-center ml-3">{{postCard.created_at}}</p>
    <p class="text-center ml-3">{{postCard.updated_at}}</p>
  </div>
</div>
</div>

