<div class="row">
  <div *ngFor="let postCard of postCards" class="card col-lg-4 mb-3">
    <div class="card-body">
      <h2 class="text-center ml-3">
        <a [routerLink]="['/post']" [queryParams]="{ id: postCard.id }">{{
          postCard.title
        }}</a>
      </h2>
      <p class="text-center ml-3">{{ postCard.about }}</p>
      <p class="text-center ml-3">{{ postCard.username }}</p>
      <p class="text-center ml-3">{{ postCard.likes }}</p>
      <small>{{ postCard.likes }}</small>
      <mat-icon
        id="toLike"
        (click)="giveLike(postCard.id)"
        *ngIf="!isLiked(postCard.id)"
        >thumb_up</mat-icon
      >
      <mat-icon
        id="liked"
        (click)="removeLike(postCard.id)"
        *ngIf="isLiked(postCard.id)"
        >thumb_up</mat-icon
      >
      <small id="delete" (click)="deletePost(postCard.id)">Delete</small>
    </div>
  </div>
</div>
