<div class="container">
 <div class="row">
<div *ngFor="let postCard of postCards" class="card col-lg-4 mb-3 text-center">
  <div  class="card-body">
    <h2 class="text-center ml-3">{{postCard.title}}</h2>
    <small class="text-center ml-3">{{postCard.content}}</small>
    <small class="text-center ml-3">{{postCard.status}}</small>

    <h5 class="mt-1"><a [routerLink]="['/post']" [queryParams]="{ id: postCard.id }">LDJJDLJDDJLJD</a></h5>
    <p>djdhggjshdjshd</p>
    <small class="text-center ml-3">Last UPDATED - At you funeral</small>
  </div>
</div>
</div>
</div>

