.card {
  margin-right: 4px;
  margin-left: 4px;
  max-width: 32.5%;
}

#toLike {
  color: var(--footer);
}

#toLike:hover {
  color: var(--on-text);
}

#liked {
  color: var(--on-text);
}

#liked:hover {
  color: var(--footer);
}

#delete {
  cursor:pointer;
  color:#0dcaf0;
  text-decoration:underline;
}
