<div class="container mb-3 mt-3">
  <div class="card">
    <div class="card-body text-center">
      <form [formGroup]="tripForm" (ngSubmit)="createTrip()">
        <h4 class="mb-4">Create your trip</h4>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="Trip name"
            formControlName="tripName"
            required
          />
        </div>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="Gathering place"
            formControlName="gatheringPlace"
            required
          />
        </div>
        <textarea
          cols="30"
          rows="15"
          class="form-control"
          placeholder="Add trip description"
          formControlName="description"
          required
        ></textarea>
        <mat-form-field>
          <input matInput [matDatepicker]="myDatePicker" placeholder="MM/DD/YYYY" formControlName="date">
          <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #myDatePicker></mat-datepicker>
        </mat-form-field>
        <div class="form-group mb-2">
          <button class="btn btn-info mt-3">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
