<div class="container mb-3 mt-3">
  <div class="card">
    <div class="card-body text-center">
      <form >
        <h4 class="mb-4">Create your trip</h4>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="Trip name"
            formControlName="trip_name"
            required
          />
        </div>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="Gathering place"
            formControlName="gathering_place"
            required
          />
        </div>
        <div class="form-group col-md-2">
        <label for="input6">Data od</label>
        <div class="input-group date datepicker">
          <input type="text" class="form-control" id="input6" placeholder="Data od">
          <span class="input-group-append">
            <span class="input-group-text bg-white d-block">
              <i class="fa fa-calendar"></i>
            </span>
          </span>
        </div>
      </div>
        <button class="btn btn-info mt-3">Add</button>
      </form>
    </div>
  </div>
</div>
