<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="sticky-header">
  <div class="row menu p-4">
    <div class="col-lg-2 page-name justify-content-start d-flex align-items-center">
      <a class="logo" href="http://localhost:4200/">
        TRAVEL PORTAL
        <span class="material-symbols-outlined">
        landscape
      </span>
      </a>
    </div>

    <div class="col-lg-8 center-menu align-items-start">
      <ul class="nav justify-content-center menu-list">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/trips">Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/business-offer">Business Offers</a>
        </li>
      </ul>

    </div>

    <div class="col-lg-2 login-button justify-content-end d-flex align-items-center">
      <a href="http://localhost:4200/login" *ngIf="!isLoggedIn()" class="login-link">Login</a>
      <mat-icon>
        <a href="http://localhost:4200/account" *ngIf="isLoggedIn()" class="account">
          account_circle
        </a>
      </mat-icon>
    </div>
  </div>
</div>
<div class="spacer"></div>
