.menu {
  background-color: var(--primary-color);
}

.login {
  margin-bottom: 0.2rem;
  margin-left: 2rem;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--background);
  text-decoration: none;
}
.login:hover {
  color: var(--secondary-color);
}

mat-icon {
  margin-left: 5%;
  transform: scale(2);
}

.account {
  text-decoration: none;
  color: var(--secondary-color);
}
.account:hover {
  color: var(--background);
}

.page-name {
  text-align: left;
}
.center-menu {
  text-align: center;
}
.login-button {
  text-align: right;
}

.login-link {
  padding: 10px 50px;
  background: var(--primary-color);
  color: var(--background);
  text-decoration: none;
}

.menu .nav-link{
  text-transform: uppercase;
  color: var(--background);
}

.menu .nav-link:hover{
  text-transform: uppercase;
  color: var(--secondary-color);
}

.menu .nav-item {
  padding-left: 30px;
}

.logo {
  color: var(--secondary-color);
  text-transform: none;
  text-decoration: none;
  font-weight: bold;
}

.menu-list {
  padding-top: 5px;
}

.login-link {
  padding: 0px;
}
