<div class="container py-3">
  <h1 class="text-center">Manage user permissions</h1>

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row">
        <div class="col-6 my-3" *ngFor="let userCard of userCards">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="py-3">
                <h4>Username: {{ userCard.username }}</h4>
                <p>ID: {{ userCard.id }}</p>
                <p>Name: {{ userCard.name }}</p>
                <p>Surname: {{ userCard.surname }}</p>
                <p>Email: {{ userCard.email }}</p>
                <p>PhoneNumber: {{ userCard.phoneNumber }}</p>

                <div class="py-3">
                  <h4>User roles:</h4>
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Role name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let role of userCard.roles">
                      <td>{{ role.id }}</td>
                      <td>{{ role.name }}</td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>
              <h4 class="py-3">Manage privileges</h4>
              <div class="privileges-list">
                <input
                  type="radio"
                  name="drone"
                  value="CLUB_MEMBER"
                  [checked]="selectedValue === 'CLUB_MEMBER'"
                  (change)="onRadioChange($event)"
                />
                <label for="CLUB_MEMBER">CLUB MEMBER</label>
                <br/>
                <input
                  type="radio"
                  name="drone"
                  value="GUIDE"
                  [checked]="selectedValue === 'GUIDE'"
                  (change)="onRadioChange($event)"
                />
                <label for="GUIDE">GUIDE</label>
                <br/>
                <input
                  type="radio"
                  name="drone"
                  value="BUSINESS_PARTNER"
                  [checked]="selectedValue === 'BUSINESS_PARTNER'"
                  (change)="onRadioChange($event)"
                />
                <label for="BUSINESS_PARTNER">BUSINESS PARTNER</label>
                <br/>
                <input
                  type="radio"
                  name="drone"
                  value="MODERATOR"
                  [checked]="selectedValue === 'MODERATOR'"
                  (change)="onRadioChange($event)"
                />
                <label for="MODERATOR">MODERATOR</label>
              </div>

              <div class="py-3">
                <button class="btn btn-primary-travel add-privilege-button" (click)="addPrivlage(userCard.id)">Add
                  Privilege
                </button>
                <button class="btn btn-danger" (click)="removePrivlage(userCard.id)">Remove Privilege</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
