<div class="card post-card">
  <div class="card-body profile p-0">

    <div class="pt-3 px-3">
      <div class="d-flex align-items-center mb-3">
        <app-profile-image [userId]="offerCard!.userID!"></app-profile-image>
        <div class="flex-fill ps-2">
          <div class="fw-bold"><a href="#" class="text-decoration-none post-author">{{ offerCard?.username }}</a>
          </div>
          <div class="small text-body text-opacity-50">{{ offerCard?.createdAt }}</div>
        </div>
      </div>
      <h4>
        <a class="post-title" [routerLink]="['/offer']" [queryParams]="{ id: offerId }">{{
          offerCard?.title
          }}</a>
      </h4>
      <div [innerHTML]="offerCard?.about"></div>
      <div [innerHTML]="offerCard?.content"></div>
      <div class="profile-img-list">
        <ng-container *ngFor="let image of images$ | async | slice:0:9; let isFirst = first">
          <ng-container *ngIf="isFirst; else photoList">
            <div class="profile-img-list-item main">
              <a href="#" data-lity="" class="profile-img-list-link">
                <span class="profile-img-content"
                      [ngStyle]="{'background-image': 'url(' + image + ')'}"></span>
              </a>
            </div>
          </ng-container>
          <ng-template #photoList>
            <div class="profile-img-list-item">
              <a href="#" data-lity="" class="profile-img-list-link">
                <span class="profile-img-content"
                      [ngStyle]="{'background-image': 'url(' + image + ')'}"></span>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </div>
      <hr class="mb-1 opacity-1"/>
    </div>


    <div class="row text-center fw-bold">
      <div class="col">
        <a href="#" class="text-body text-opacity-50 text-decoration-none d-block p-2" id="delete" (click)="deleteOffer(offerId)">
          Delete </a>
      </div>
    </div>
  </div>
</div>
