<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1>Terms & Conditions</h1>
        <p>dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        vdsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        vdsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        vdsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        vdsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        vdsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        vdsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        vdsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        vdsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
            dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        dsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        vdsjhdkskhdsdkkshgffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffff
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        </p>
    </div>
</section>